@(message: String)

@main("execution", "Execution History") {

    <section id="executions">
        <h2>@message</h2>

        <table id="executions_table" class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody data-bind="foreach: executions">
                <tr>
                    <td data-bind="text: executionId"></td>
                    <td data-bind="text: status"></td>
                </tr>
            </tbody>
        </table>
    </section>

}