@(moduleId: String, title: String)(content: Html)

<!DOCTYPE html>

<html lang="en">
    <head>
        <title>Chronos Console - @title</title>

        <link rel="stylesheet" href="@routes.WebJarAssets.at(WebJarAssets.locate("css/bootstrap.css"))">
        <link rel="stylesheet" href="@routes.WebJarAssets.at(WebJarAssets.locate("css/font-awesome.css"))">
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <script>
            @Html(org.webjars.RequireJS.getSetupJavaScript(routes.WebJarAssets.at("").url))
        </script>

        @loadModuleJS(id: String) = @{
            var basePath = "javascripts"
            if (id.nonEmpty) {
                basePath += "/" + id
            }
            basePath + "/index.js"
        }

        <script data-main="@routes.Assets.versioned(loadModuleJS(moduleId))"
        src="@routes.WebJarAssets.at(WebJarAssets.locate("require.min.js"))"></script>

    </head>
    <body>
        <nav class="navbar navbar-default, navbar-fixed-top" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle Navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">
                    <i class="fa fa-home"></i>
                    <span>@title</span>
                </a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="active">
                        <a data-toggle="collapse" data-target="#bs-example-navbar-collapse-1.in" href="/">
                            Index
                        </a>
                    </li>
                    <li>
                        <a data-toggle="collapse" data-target="#bs-example-navbar-collapse-1.in" href="/repository">
                            Repository
                        </a>
                    </li>
                    <li>
                        <a data-toggle="collapse" data-target="#bs-example-navbar-collapse-1.in" href="/scheduler">
                            Scheduler
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="page-host">
            @content
        </div>
    </body>
</html>
